
  body {
margin: 0%;
  }

  .number {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 30vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .number::after{
    content: "10";
    animation-name: countdown;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }

  @keyframes countdown {
    0% {
        content:"10";
    }
    10% {
        content:"9";
        
    }
    20% {
        content:"8";
    }
    30% {
        content:"7";
    }
    40% {
        content:"6";
    }
    50% {
        content:"5";
    }
    60% {
        content:"4";
    }
    70% {
        content:"3";
    }
    80% {
        content:"2";
    }
    90% {
        content:"1";
    }
    100% {
        content:"I love CSS :)";
    }
  }

